<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
       <tr>
         <td><%= user.id %></td>
         <td>
           <%= image_tag user.get_profile_photo, class: "post-profile-icon" %>
         </td>
         <td>
           <%= link_to user_path(user.id), class: "text-green" do %>
           <%= user.name %>
           <% end %>
         </td>
      <% end %>
    </tbody>
  <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->s
  <% elsif @post == "Post" %>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% elsif @genre == "Genre" %>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
  <h1>検索結果がありません。</h1>
  <% end %>
</table>
