<div class="container my-5">
  <div class="row text-center">
    <div class="col">
    <div class="col-6 offset-3">
      <h3>ログイン</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field my-2">
          <%= f.label :"ユーザー名" %><br />
          <%= f.email_field :name, autofocus: true, placeholder:"ユーザー名", autocomplete: "name",class:"form-control" %>
        </div>
        <div class="field my-2">
          <%= f.label :"パスワード" %><br />
          <%= f.password_field :password, placeholder:"例）xxxxxx", autocomplete: "current-password",class:"form-control" %>
        </div>
        <div class="actions my-3 text-center">
          <%= f.submit "ログイン",class: "btn btn-primary"%>
        </div>
      <% end %>
      <div>
        <h6 class="text-center">会員登録がお済みでない⽅</h6>
        <p class="text-center"><%= link_to "こちら", new_user_registration_path %>からログインしてください。</p>
      </div>
    </div>
    </div>
  </div>
</div>