<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="logo-img mx-auto">管理者ログイン</h2>
       </div>
        <%= render "devise/shared/error_messages", resource: resource %>
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control"%>
        </div>

        <div class="actions">
          <%= f.submit "サインインする", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
   </div>
  </div>
</div>

<%= render "admin/shared/links" %>
