

<div class="card-wrap">
  <div class="card">
      <div class="sidebar bg-light text-center" style="padding: 10px; border-radius: 5px;">
        <table class='table'>
          <tr><%= image_tag user.get_profile_photo, class: "round-img" %></tr>
          <tr>
            <th>ネーム</th>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <th>紹介文</th>
      	    <td><%= user.introduction %></td>
          </tr>
          <tr>
          <th>follows</th>
          <td>
              <%= link_to user_followings_path(user) do %>
              <h6><%= user.followings.count %></h6>
              <% end %>
          </td>
        </tr>
        <tr>
          <th>followers</th>
          <td>
              <%= link_to user_followers_path(user) do %>
              <h6><%= user.followers.count %></h6>
              <% end %>
          </td>
        </tr>
          <tr>
            <th></th>
      	    <td>
      	     <% if user_signed_in? %>
               <%= link_to "投稿", new_post_path, class: 'btn btn-success' %>
             <% end %>
      	    </td>
          </tr>
        </table>
      </div>
    </div>
</div>


