<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
      <h1>投稿編集画面</h1>
      </div>
        <% if @post.errors.any? %>
        <h3><%= ActionController::Base.helpers.pluralize(@post.errors.count, 'error') %> prohibited this obj from being saved:</h3>
        <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
        <% end %>
       
     <div class="card-body">     
       <%=form_with model: @post do |f| %>
          
          <div class="form-group row mt-2">
            <div class="col pl-0">
              <%= f.text_field :caption, class: "form-control border-0", placeholder: "キャプションを書く" %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
              間取り：
              <%= f.select :genre_id, options_for_select(Genre.all.map{ |genre| [genre.name, genre.id] }), { prompt: "該当の間取りを選択してください" }, { class: "form-control", name: "post[genre_id]" } %>
            </div>
          </div>
          <%= f.submit "編集", class: "btn btn-primary" %>
          <%= link_to "戻る", post_path(@post), class: "btn btn-dark" %>
        <% end %>
         
      </div>
     </div>
  </div>
</div>
