<h1>画像投稿フォーム</h1>
<%= form_with model: @post, url: user_posts_path do |f| %>

  <%= f.file_field :images, multiple: true %>
  
  <%= f.label :caption %>
  <%= f.text_area :caption %>
  
  <span>間取り<span>
  
  <span>タグ<span>
  
  <%= f.submit '投稿を確認する'%>
<% end %>