<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました。
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>


<%= form_with model: @post, url: user_posts_path do |f| %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.fields_for :photos do |i| %>
    <%= i.file_field :image %>
  <% end %>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>