<!DOCTYPE html>
<html>
  <head>
    <title>MyTerior</title>
    <script src="https://kit.fontawesome.com/81ef2a8530.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--<nav>...</nav>の間のコード-->
    <%= render 'partial/navbar' %>
    
   <div class="bg">
   <%= yield %>
   </div>
   
  </body>
</html>
